{% assign author = site.data.authors[page.author] %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="shortcut icon" type="image/jpg" href="{{ "/favicon.png" | prepend: site.baseurl }}" >

	<meta property="og:site_name" content="{{ site.title }}">
	{% if page.title %}
	<meta content="{{ page.title }}" property="og:title">
	<meta property="og:type" content="article">
	<meta property="og:description" content="{{ page.excerpt | strip_html }}"/>
	{% else %}
	<meta content="{{ site.title }}" property="og:title">
	<meta property="og:type" content="website">
	<meta content="{{ site.description }}" property="og:description">
	{% endif %}
	{% if page.date %}
	<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
	<meta content="{{ site.url }}/about/" property="article:author">
	{% endif %}
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	{% if page.tags %}
	{% for tag in page.tags %}
	<meta property="article:tag" content="{{ tag }}">
	{% endfor %}
	{% endif %}
	{% if author %}
	<meta property="article:author" content="{{ author.name }}" />
	{% endif %}
</head>
