{% if site.github_username %}
<a href="https://github.com/{{ site.github_username }}" class="fa fa-github">&nbsp;</a>
{% endif %}
{% if site.google_plus_username %}
<a href="https://plus.google.com/+{{ site.google_plus_username }}" class="fa fa-google-plus">&nbsp;</a>
{% endif %}
{% if site.linkedin_username %}
<a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="fa fa-linkedin">&nbsp;</a>
{% endif %}
{% if site.twitter_username %}
<a href="https://twitter.com/{{ site.twitter_username }}" class="fa fa-twitter">&nbsp;</a>
{% endif %}
